
section h5:hover {
    background-color: orange;
}

section h5:active {
    background-color: orangered;
}

section p{
    text-align: center;
}

input{
    font-size: larger;
}

body{
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
  }

header{
    background-image: url("../images/fooditems.webp");
    background-color: white;
    border: solid;
    border-color: orangered;
    border-radius: 10px;
  }

#dinnerChoices{
    background-color: white;
    border-style: solid;
    border-color: orangered;
    border-radius: 10px;
  }

#map{
    background-color: white;
    border-style: solid;
    border-color: orangered;
    border-radius: 10px;
  }

.image-container {
    max-width: 455px;
    min-height: 455px;
}

.image-container img {
    height: 100%;
    width: 100%;
    background-color: white;
}

.text-container {
    text-align: center;
    border: solid;
    border-color: red;
    border-radius: 10px;
}

.rest-result{
    padding: 1.5rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 2rem;
    text-align: center;
}
