/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header{
    background-image: url("../images/fooditems.webp");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  body{
    margin: 0;
    

  }

